.donationRequests_wrapper{
    display: flex;
    flex-direction: column;
}

.donationRequests_topComponent_banner{
    background-image: linear-gradient(rgba(19, 19, 19, 0.7), rgba(0, 0, 0, 0.8)), url("../images/banner/banner-homepage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}

.donationRequests_topComponent_title, .donationRequests_topComponent_desc{
    color: aliceblue;
    margin: auto;
    margin-bottom: 0.5rem;
}